@using PreOrderApp
@model PreOrderApp.Models.MenuItemModel

@{
	ViewBag.Title = "Select Menu";
}

<h2>Select Menu</h2>

<h3>Are you sure you want to Select this Menu Item?</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<fieldset>
	 @Html.HiddenFor(model => model.Id)
	
	 <div class="editor-label" >
		@Html.LabelFor(model => model.ReservationHour, Resources.RestaurantReservationHour)
	</div>
	<div class="editor-field" >
		@Html.DropDownListFor(m => m.ReservationHour, Model.RestaurantReservationHours)
		@Html.ValidationMessageFor(model => model.ReservationHour)
	</div>
	
	<div class="display-label">
		@Html.DisplayNameFor(model => model.Name)
		@Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>

	
	<div class="display-label">
		@Html.DisplayNameFor(model => model.Price)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Price)
	</div>
</fieldset>

    <p>
        <input type="submit" value="Select" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}